body{
margin-bottom: 0;
padding-bottom: 0;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
    padding: 0;
    color: rgb(82, 82, 82);
}

nav{
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(192, 190, 190);
    z-index: 200;
    box-shadow: 2px 15px 10px -17px #111;
}

main{
    position: relative;
    top: 80px;
}

.left-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    font-size: 14px;
    cursor: pointer;
}

.playstore-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
    font-size: 25px;
}

.playstore-picture{
    margin-top: 5px;
    margin-left: -15px;
}


.username{
    background-color: green;
    margin-top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

.username-text{
    color: white;
}

.right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
    right: 0;
}

.search-icon,
.help-icon{
    margin-top: 4px;
}

.games-div{
    position: relative;
}

.games{
    color: green;
}

.games-div-tooltip{
    position: absolute;
    background-color: green;
    width: 42px;
    height: 3px;
    border-radius: 3px;
    top: 35px;
    left: 2px;
    
}


.search-bar{
    margin-top: 4px;
    border: none;
}

.types-of-devices{
    padding: 20px 65px 12px 65px;
    position: relative;
}

.types-of-devices-div{
    display: flex;
    column-gap: 20px;
}

.types-of-devices-div p{
    font-size: 14px;
}

.windows{
    margin-top: 2px;
    display: flex;
    column-gap: 10px;
    width: 110px;
    padding: 5px 10px;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 20px;
}

.phone{
    margin-top: 2px;
    display: flex;
    column-gap: 10px;
    width: 90px;
    padding: 5px 10px;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 20px;
}

.phone-text{
    color: green;
}

.tablet{
    margin-top: 2px;
    display: flex;
    column-gap: 10px;
    width: 90px;
    padding: 5px 10px;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 20px;
}

.tv{
    margin-top: 2px;
    display: flex;
    column-gap: 10px;
    width: 70px;
    padding: 5px 10px;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 20px;
}

.chromebook{
    margin-top: 2px;
    display: flex;
    column-gap: 10px;
    width: 140px;
    padding: 5px 10px;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 20px;
}


.windows:hover,
.phone:hover,
.tablet:hover,
.tv:hover,
.chromebook:hover{
    background-color: rgb(234, 231, 231);
    cursor: pointer;
}



.windows-picture,
.phone-picture,
.tablet-picture,
.tv-picture,
.chromebook-picture{
    width: 15px;
    padding-left: 10px;
}

.promotion-section{
    cursor: pointer;
    margin-bottom: 20px;
}


.promotion-details{
    background-color: rgb(18, 18, 18);
    border-radius: 20px 0 0 20px;
}

.promotion-section-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 65px;
    margin-top: 20px;
}

.promotion-deadline{
    background-color: rgb(70, 69, 69);
    width: 80px;
    padding: 7px;
    color: white;
    border-radius: 15px 0;
}

.promotion-deadline p{
    font-weight: 500;
    color: white;
    font-size: 15px;
}

.promotion-text-div{
    margin-top: 50px;
    margin-left: 20px;
}

.promotion-text-one{
    color: white;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
}

.promotion-text-two{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.promotion-game-details{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    column-gap: 15px;
    justify-content: space-between;
}

.promotion-picture-and-names-div{
    display: flex;
    column-gap: 15px;
}

.promotion-game-details p{
    color: white;
}


.promotion-game-names{
    padding-top: 8px;
}

.game-manufacturer-div{
    display: flex;
}

.game-manufacturer-div .game-manufacturer-text{
    margin-top: 8px;
    font-size: 14px;
}

.middle-dot{
    color: white;
}

.plus-rating{
    font-weight: normal;
    background-color: white;
    font-size: 13px;
    padding: 0 1px;
    color: black;
}

.promotion-install-button{
    width: 90px;
    padding: 10px;
    font-weight: 500;
    color: white;
    background-color: rgb(94, 93, 93);
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.promotion-install-button:hover{
    background-color: rgb(75, 74, 74);
}

.promotion-picture{
    width: 100%;
    border-radius: 0 20px 20px 0;
}


.top-chart-div{
    padding: 40px 65px 5px 65px;
}

.top-charts-text{
    font-size: 22px;
    color: black;
    font-weight: 500;
}

.top-div{
    display: flex;
    column-gap: 15px;
    margin-top: 20px;
}

.top-free{
    background: rgb(227, 246, 227);
    color: green;
    width: 65px;
    padding: 5px 15px;
    border-radius:15px;
    border: none;
    margin-bottom: 3px;
    cursor: pointer;
}

.top-free p{
    color: green;
}

.top-free:hover{
    background: rgb(212, 244, 212);
}

.top-grossing{
    color: white;
    width: 95px;
    padding: 5px 15px;
    border-radius:15px;
    border: none;
    margin-bottom: 3px;
    border: 1px solid rgb(216, 216, 216);
    cursor: pointer;
}

.top-paid{
    
    color: white;
    width: 65px;
    padding: 5px 15px;
    border-radius:15px;
    border: none;
    margin-bottom: 3px;
    border: 1px solid rgb(216, 216, 216);
    cursor: pointer;
}

.top-grossing:hover,
.top-paid:hover{
    background-color: rgb(236, 236, 236);
}

.top-chart-games{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-column-one{
    border-radius: 8px;
    cursor: pointer;
    margin-top: -10px;
}

.football-league-div:hover,
.candy-crush-soda-saga-div:hover,
.my-talking-angela-2-div:hover,
.candy-crush-saga-div:hover,
.tile-tripple-div:hover{
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}

.football-league-div,
.candy-crush-soda-saga-div,
.my-talking-angela-2-div,
.candy-crush-saga-div,
.tile-tripple-div{
    display: flex;
    column-gap: 20px;
    padding: 10px 12px;
    border-radius: 8px;
    
}

.football-league-div .game-details,
.candy-crush-soda-saga-div .game-details,
.my-talking-angela-2-div .game-details,
.candy-crush-saga-div .game-details,
.tile-tripple .game-detail{
    column-gap: 8px;
}

.game-number,
.game-number-candy-crush-soda,
.game-number-talking-angela,
.game-number-candy-crush,
.game-number-tile-tripple{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-column-two{
    
    padding: 10px 12px;
    border-radius: 5px;
    margin-top: -10px;
}

.game-column-three{
    padding: 10px 12px;
    border-radius: 5px;
    margin-top: -10px;
}


.first-section{
    margin-top: 50px;
}

.first-one{
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.first-one:hover{
    background-color: rgb(236, 235, 235);
}

.second-section{
    margin-top: 50px;
    padding-bottom: 30px;
}

.new-games-and-load-more{
    display: flex;
    justify-content: space-between;
}

.first-one{
    padding-bottom: 10px;
}

.top-rated-text{
    color: black;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 500;
}

.game-image-div-main{
    display: flex;
    margin-top: 8px;
}

.game-details{
    display: grid;
    grid-template-columns: 70px 1fr;
    margin-top: 10px;
}

.game-image{
    width: 100%;
    border-radius: 5px;
}

.game-name-text{
    color: rgb(26, 25, 25);
    font-size: 15px;
}

.game-manufacturer-text,
.game-rating-text{
    margin-top: 3px;
    color: grey;
    font-size: 14px;
}


.game-profile-picture{
    width: 60px;
    border-radius: 10px;
}


.game-rating{
    display: flex;
    column-gap: 3px;
}

.game-rating-text{
    margin-top: 5px;
}

.show-more{
    border-bottom: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}


.show-more p{
    cursor: pointer;
    font-weight: 500;
}

.bottom-section{
    margin-top: 30px;
}

.bottom-top-div{
    display: flex;
    column-gap: 200px;
    font-size: 14.5px;
}

.google-play,
.kids-family{
    font-weight: 500;
    margin-bottom: 8px;
}

.google-play-features,
.kids-family-features{
    margin-bottom: 8px;
}


.google-play-features:hover,
.kids-family-features:hover{
    cursor: pointer;
    color: green;
}

.bottom-div{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bottom-div p{
    font-size: 13px;
}

.left-bottom-section-div{
    display: flex;
    column-gap: 20px;
}

.bottom-div p:hover{
    color: green;
}

.left-bottom-section-div p:hover{
    cursor: pointer;
}

.left-bottom-section-div  .no-cursor:hover,
.right-bottom-div .no-cursor:hover{
    color: rgb(82, 82, 82);
    cursor: text;
}






